/* Home */
.home {}

/* Hero */
.hero {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 2rem .5rem;
}

.heroDescription {
  order: 1;
}

.heroTitle {
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: var(--extra-bold);
}

.heroCover {
  margin-bottom: 2rem;
}

.coverImage {
  width: 80%;
}

/* Stats */
.stats{
  background: var(--light-grey);
  padding: 2rem;
}

.statsDescription {
  margin-bottom: 2rem;
}

.statsTitle {
  text-align: center;
  font-size: 1.2rem;
}

.codingIcon {
  display: none;
}

/* Learn Section */
.learn {}

.learnCover {}

.learnImage {
  width: 100%;
}

.learnDescription {
  padding: 2rem;
  text-align: center;
}

.learnTittle {
  margin-bottom: 1rem;
}

.learnText {
  font-size: .8rem;
  margin-bottom: 1rem;
}


/* Desktop Styles */
@media (min-width: 720px) {
  /* Hero */
  .hero {
    flex-direction: row;
    padding: 4rem;
  }

  .heroDescription {
    flex: 2;
    display: inherit;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  .heroTitle {
    text-align: left;
    font-size: 2.5rem;
    margin-bottom: 2rem;
  }

  .heroCover {
    flex: 1;
    order: 1;
  }

  .coverImage {
    width: 30rem;
  }

  /* Stats */
  .stats {
    padding: 4rem;
  }


  /* Stats Description */
  .statsDescription {
    display: flex;
    justify-content: space-between;
  }

  .statsTitle {
    width: 25ch;
    text-align: left;
    font-size: 2rem;
  }

  .codingIcon {
    display: block;
  }

  .codingIcon > img {
    width: 5rem;
  }

  /* Stats Container */
  .statsContainer {
    display: flex;
    gap: 8rem;
  }

  /* Learn Section */
  .learn {
    display: flex;
    height: 22rem;
    margin-bottom: 10rem;
  }

  .learnImage {
    object-fit: cover;
    height: 100%;
  }

  .learnDescription {
    text-align: left;
    padding: 3rem;
  }

  .learnTittle {
    width: 20ch;
    font-size: 2rem;
  }

  .learnText {
    width: 80%;
    font-size: .9rem;
    line-height: 1.7;
    margin-bottom: 1rem;
  }
}