.home {}

.hero {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 2rem .5rem;
}

.heroDescription {
  order: 1;
}

.heroTitle {
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: var(--extra-bold);
}

.heroCover {
  margin-bottom: 2rem;
}

.coverImage {
  width: 80%;
}

@media (min-width: 720px) {
  /* Hero */
  .hero {
    flex-direction: row;
    padding: 4rem;
  }

  .heroDescription {
    flex: 2;
    display: inherit;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  .heroTitle {
    text-align: left;
    font-size: 2.5rem;
    margin-bottom: 2rem;
  }

  .heroCover {
    flex: 1;
    order: 1;
  }

  .coverImage {
    width: 30rem;
  }

  /* Stats */
}
