.home {}

.hero {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 2rem .5rem;
}

.heroDescription {
  order: 1;
}

.heroTitle {
  font-size: 1.2rem;
  font-weight: var(--extra-bold);
  text-transform: uppercase;
}

.heroCover {
  margin-bottom: 2rem;
}
  
.heroCover > img {
  width: 80%;
}

/* Stats */
.stats {
  padding: 2rem;
  background: var(--light-grey);
}

.statsDescription {
  margin-bottom: 2rem;
}

.statsTitle {
  font-size: 1.2rem;
  text-align: center;
}

.codingIcon > img {
  display: none;
}

.statsContainer {}

.weLearn {}

.cover {}

.coverImage {
  width: 100%;
}

.article {
  text-align: center;
  padding: 2rem;
}

.articleTitle {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.articleText {
  font-size: small;
  margin-bottom: 1rem;
}

@media (min-width: 720px) {
  .hero {
    flex-direction: row;
    padding: 4rem;
  }
  
  .heroDescription {
    flex: 2;
    display: inherit;
    flex-direction: column;
    justify-content: center;  
    align-items: flex-start;
  }
  
  .heroTitle {
    text-align: left;
    font-size: 2.5rem;
    margin-bottom: 2rem;
  }
  
  .heroCover {
    flex: 1;
    order: 1;
  }
    
  .heroCover > img {
    width: 30rem;
  }
  
  .stats {
    padding: 4rem;
    background: var(--light-grey);
  }
  
  .statsDescription {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .statsTitle {
    text-align: left;
    width: 22ch;
    font-size: 2rem;
  }
  
  .codingIcon > img {
    display: block;
    width: 100px;
  }
  
  .statsContainer {
    display: flex;
    justify-content: space-between;
    gap: 6rem;
  }

  .weLearn {
    display: flex;
    text-align: left;
  }
  
  .article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:2rem 6rem;
    text-align: left;
  }
}