.statsItem {
  display: flex;
  align-items: flex-end;
  gap: 1.5rem;
  margin-bottom: 1rem;
}

.statsTitle {
  font-size: 3rem;
}

.statsBar {
  display: block;
  background: var(--secondary);
  width: auto;
  height: .4rem;
}

.statsText {
  font-size: .65rem;
}


@media (min-width: 720px) {
  .statsItem {
    width: max-content;
    max-width: min-content;
    display: flex;
    flex-direction: column;
    margin-bottom: unset;
    gap: 1rem;
  }
  
  .statsTitle {
    font-size: 5rem;
  }
  
  .statsBar {
    display: block;
    background: var(--secondary);
    width: auto;
    height: .5rem;
  }
  
  .statsText {
    font-size: .8rem;
  }
}